{% extends "DavidGameBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Index{% endblock title %}

{% block body %}
 <div class="row-fluid">
    <div class="span9">
        <h1>Liste des jeux</h1>
        <ul>
        {% for game in gameList %}
            <li><a href = "{{ path('david_game_detail', {'id': game.id} ) }}">{{ game.title }}</a>
                <span><a href ="{{ path('david_game_delete', {'id': game.id}) }}">Supprimer</a></span>
                <span><a href ="{{ path('david_game_edit', {'id': game.id}) }}">Editer</a></span>
            </li>
        {% endfor%}
        </ul>
    </div><!--/span-->
 </div>

{% endblock body %}